<div id="inner-webpage-content-customers">
    <h3>Add or Update Customer Information</h3>
    <hr id="add-customer-hr">
    <div id="customer-forms">
        <div id="existing-customer">
            <form id="existing-customer">
                <h4>Existing Customers</h4>
                <hr>
                <div class="form-group">
                    <label for="existing-email">Enter Email: </label>
                    <input type="text" class="form-control" id="existing-email" placeholder="Enter you email...">
                </div>
                <button type="submit" id="search-customers" form="existing-customer">Search For Customer Info</button>
            </form>
        </div>
        <div id="customer-information">
            <form id="customer-order">
                <h4>Customer Information</h4>
                <hr>
                <div class="form-group">
                    <label for="first-name">First Name: </label>
                    <input type="text" class="form-control" id="first-name" placeholder="Enter your first name...">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name: </label>
                    <input type="text" class="form-control" id="last-name" placeholder="Enter your last name...">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="text" class="form-control" id="email" placeholder="Enter your email...">
                </div>
                <button type="submit" form="update-customer">Update Customer Info</button>
                <button type="submit" id="add-customers" form="add-customer">Add Customer Info</button>
            </form>
        </div>
    </div>
</div>