<div id="inner-webpage-content-customers">
    <h3>All Customer Information</h3>
    <div class="container">
        <table class="table" id="all-customer-table">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each customers}}
                <tr>
                    <td>{{customer_id}}</td>
                    <td>{{first_name}}</td>
                    <td>{{last_name}}</td>
                    <td>{{email}}</td>
                    <td>Delete</td>
                </tr>
                <{{/each}}>
            </tbody>
        </table>
    </div>
</div>
