<div id="inner-webpage-content-allorders">
    <table id="customers-table">
        <tbody>
            <tr>
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>2</td>
                <td>Dwight</td>
                <td>Schrute</td>
                <td>dschrute@dm.com</td>
                <td>Delete</td>
            </tr>
        </tbody>
    </table>
</div>