<div id="inner-webpage-content">
    <h1>The Computer Store Homepage</h1>
    <br>
    <h2>Webpage descriptions:</h2>
    <ol>
        <li>Home: Welcome page for customer</li>
        <li>Order: Allows the customer to enter their information and place computer orders</li>
        <li>Customers: Displays all the customers of the computer store</li>
        <li>All Orders: Displays all the orders customers have made</li>
        <li>Inventory: Update inventory for all stores/computers</li>
    </ol>
</div>
