<div id="inner-webpage-content">
    <h1>The Computer Store Homepage</h1>
    <br>
    <h2>Webpage descriptions:</h2>
    <ol>
        <li>Home: Welcome page for customer</li>
        <li>Add Customers: Add or update existing customer information</li>
        <li>All Customers: Displays the information of all customers</li>
        <li>Order: Allows an existing customer to place a computer order</li>
        <li>All Orders: Displays all the orders customers have made</li>
        <li>Computers: Add information for computer_systems</li>
        <li>Stores: Add information for all stores.</li>
        <li>Inventory: Add inventory for all stores/computers</li>
    </ol>
</div>
